#comments_button {
    display: none;
    margin: auto;
}

.input_container {
    width: 300px;
    margin: auto;
    padding: 10px;
}

.container {
    border: 1px solid grey;
    border-radius: 15px;
    padding: 20px;
    margin: 10px 5px;
}

.name {
    font-weight: bold;
    padding: 5px;
}

.email {
    font-style: italic;
    padding: 5px;
}